html {
	background-color: #7f1734;
	font-family: sans-serif;
	text-align: center;
	color: #FFF;
}

a {
	color: #FFF;
}

.m::after{
	content: 'm';
}

#angle::after {
	content: '°';
}

#fail {
	display: none;
}
